body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    color: white;
    height: 100px; /* Ajusta esto al tamaño de tu navbar */
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar img {
    height: 50px; /* Ajusta este valor según el tamaño que desees para el logo */
    vertical-align: middle; /* Alinea verticalmente el logo en el centro */
    width: auto;
}
.navbar-logo {
    height: 100%; /* Esto hará que la imagen tenga la misma altura que tu navbar */
    width: auto; /* Esto mantendrá las proporciones de la imagen */
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}